/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Code Starts Here */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Georgia', serif;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px grey;
  padding: 2rem;
}

h2 {
  font-size: 2.4rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px grey;
  padding: 2rem;
}

h3 {
  font-size: 2rem;
  padding: 2rem;
}

p, li {
  font-size: 1.6rem;
  padding: 2rem;
}

/* Header */

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  margin: 0 1rem;
  text-transform: uppercase;
}

/* Intro */

.intro {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.8), transparent), url("assets/hero-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.intro li {
  color: white;
}

.intro-text {
  height: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* About */

.about {
  background-color: #F5DEB3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}

.about-text {
  width: 50%;
}

.about-text h2 {
  color: white;
}

.about-text span {
  color: #363027;
}

.about-text i {
  padding: 0 2rem;
}

.about-img {
  width: 50%;
  display: flex;
  justify-content: center;
}

.about-img img {
  height: 40rem;
  padding: 2rem;
}

/* Products */

.products {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url("/assets/bread.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.products h1 {
  color: white;
}

.products-grid {
  display: grid;
  background: linear-gradient(rgba(255, 255, 255, 1), transparent);
  grid-template-columns: 30rem 30rem 30rem;
  grid-template-rows: 35rem;
  gap: 2rem;
}

.products-box {
  box-shadow: 3px 3px 3px grey;
  background-color: #F7C56A;
}

.products-box img {
  height: 30rem;
  width: 30rem;
}

.products-box p {
  padding: 1.5rem;
  text-align: center;
}